In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score
from sklearn import svm

In [2]:
df = pd.read_excel("AirQualityUCI.xlsx")
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04,10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
9353,2005-04-04,11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
9354,2005-04-04,12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
9355,2005-04-04,13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
9356,2005-04-04,14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

In [3]:
df.isnull().sum()

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [4]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [5]:
X.shape

(9357, 14)

In [6]:
y.shape

(9357,)

In [7]:
X.drop(['Date','Time'], inplace = True, axis = 1)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
X_test

array([[ 0.46050532, -0.40071908,  1.84538464, ..., -0.81182407,
         0.21005692, -0.15342672],
       [ 0.45153195, -0.39617161, -0.29289721, ..., -0.57614843,
        -0.08505449,  0.07939237],
       [ 0.44896813, -0.85774016, -0.29289721, ..., -0.97570086,
         0.27197246,  0.11843956],
       ...,
       [ 0.47717015, -3.78555513,  2.9891168 , ..., -2.57555483,
        -4.854865  , -4.67704785],
       [ 0.45537768, -0.15136596, -0.29289721, ..., -0.83593972,
         0.06423717,  0.5806611 ],
       [ 0.46563296, -0.17561915, -0.29289721, ..., -0.37061734,
         0.50574698, -0.27544931]])

In [9]:
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
ridge_reg = Ridge(alpha=12)
ridge_reg.fit(X_train, y_train)
y_pred = ridge_reg.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.9991843654134097

In [11]:
lasso_reg = Lasso(alpha=12)
lasso_reg.fit(X_train, y_train)
y_pred = lasso_reg.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.7635445172558568

In [12]:
model = svm.SVR()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.933191411376912